<!DOCTYPE html>
<html>
  <body>
  	<h1>
  		<%
	  		print("paso");
  			print("Hello, world!");
  			int i;
  			for(i = 0; i != 5; i++)
  			{
  				print("\n" + i);
  			}
		%>
	</h1>
	<h2>
		<%
			int f = 5;
			while(f != 10)
			{
				print(f);
				f++;
			}

			void println(string a)
			{
				print(a + "\n")
			}
		%>
	</h2>
  </body>
</html>
